<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255312677677-dv0og83el7o95l4skqcpdfg945ke8u61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255312677677-dv0og83el7o95l4skqcpdfg945ke8u61</string>
	<key>API_KEY</key>
	<string>AIzaSyDsYR1xcUK-c94eACzfUEPyNQATCGJP964</string>
	<key>GCM_SENDER_ID</key>
	<string>255312677677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationAuthtest</string>
	<key>PROJECT_ID</key>
	<string>authtest-matt</string>
	<key>STORAGE_BUCKET</key>
	<string>authtest-matt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255312677677:ios:d13a0b48b33bdcc287a1a4</string>
</dict>
</plist>